/*****************/
/*   MATERIALS   */
/*****************/
.mdev {
    background: none;
    border: 1px solid #27537a;
}
.listPanel, .detailsPanel {
    border: 2px solid #cbe6f4;
    margin: 8px;
}
.listPanel {
    height: 305px;
}
.listOptions span {
    float: left;
    color: #27537a;
    font-size: 14px;
    font-weight: bold;
    /* border: 1px solid #27537a; */
    margin-left: 3px;
}
.cbListOption {
    margin: 0px 3px;
    margin-top: -2px;
}
.alias_clear {
    background: none;
    background-color: #cc0000;
}
input[type=checkbox] {
    postition: relative;
    top: -1px;
    padding: 0px;
    height: 16px;
}
