.importOptionHeader {
    background-color: lightblue;
    height: 24px;
    margin: 0;
    margin-bottom 10px;
}

.importOptionHeader div {
    font-weight: bold;
    padding: 0;
    padding-left: 5px;
    padding-top: 3px;
    margin-bottom: 3px;
}


#loadFileButton {
    width: 130px;
    margin: 0;
    margin-left: 7px;
    position: relative; 
    top: -22px; 
}
#loadFileWarning {
    margin: 3px;
    border: 2px solid darkred;
    text-align: center;
}
#loadFileWarning span {
    font-weight: bold;
    font-size: 12px;
    color: darkred;
}

#importToSketchup, #importAllToSketchup, #loadFileSU, #useEPWInSU, #weatherDataType {
    width: 130px;
    margin: 0;
    margin-top: 5px;
    margin-left: 7px;
}

#weatherDataType {
    margin-top: 2px;
}

#simulateGrid {
    width: 120px;
    margin: 2;
}

#graphOptions, #statsDiv, #dataTypeDiv {
    background-color: #eef;
    margin-top: 10px;
}

#useEPWInSUDiv {
    margin-top: 10px;
}

#graphOptions .gridRow {
    margin-top: 2px;
    height: 20px;
}

#graphOptions * .gridLabel, #statsTable span {
    font-size: 12px;
}

#graphOptions * input {
    height: 16px;
    margin: 0;
    padding: 0;
    width: 50px;
    color: blue;
    vertical-align: middle;
    /* position: relative; */
    /* top: 1px; */
    border: 1px dotted #888;
}

canvas {
    margin: 0;
    padding: 0;
}

#canvasContainer {
    width: 600px;
    height: 400px;
    float: left;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid lightblue;
    background: url(arrow_se_blue.gif) no-repeat right bottom; 
}

#graphOptionsPanel {
    float: left;
    /* min-height: 200px; */
    width: 145px;
    padding: 0px;
    margin: 0px;
}

#graphOptionsPanel .gridRow {
    width: 145px;
    margin: 0px;
    /* outline: 1px solid #27537a; */
}

#messagearea {
    border: 0;
    /* color: lightblue; */
    font-size: 11px;
}

