/*****************/
/*   MATERIALS   */
/*****************/

a {
    color: #27537a;
    text-decoration: none;
}

.preferences > div {
    margin-top:     3px;
    padding:        10px;
    padding-bottom: 7px;
    border: 1px solid #27537a; /* blue-grey */
    background-color: #cbe6f4;
}

.setting_name {
    font-size:      12px;
    font-weight:    bold;
    color:          #27537a;
}

.preferences div input {
    /* background:     white; */
    postition:      relative;
    top:            -3px;
    padding:        0px;
    height:         16px;
    width:          350px;
    float:          right;
}

.preferences div input[type=button] {
    width:          50px;
    margin-left:    10px;
    height:         20px;
    postition:      relative;
    top:            -4px;
}

.preferences div input.numberInput {
    width:          96px;
    margin-right:   254px;
}

.preferences div input.pathInput {
    width:          290px;
}

.preferences div select {
    padding: 0px;
    width: 100px;
    float: right;
    margin: 0px;
    margin-right: 254px;
}

.setting_help {
    display: none;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
    text-align: justify;
    color: grey;
}

#preferences_container {
    margin-top: 15px;
    max-width: 620px;
}

